@import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Arimo&family=Playfair+Display&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap);

*{
    margin: 0;
    padding: 0;
}
body{
	background: rgba(0,0,0,0.5) url("../img/jslogo.png");
	background-blend-mode: darken;
	display: block;
}
header{
    background-color: #243A73;
    width: 100%;
    height: 150px;
    border: none;
    box-sizing: border-box;
}

header div{
    display: inline-block;
    position: relative;
    left: 40%;
    top: 10%;
    margin-left: 0.5% ;
  transition: 1s;
}

header div:nth-child(2):hover{
  transform:scale(1.3);
}
header:first-child{
    top: -4%;
}

header div > h1{
text-align: justify;
color: white;
font-family: 'Playfair Display', serif;
}
header div a > img{
    width: 100px;
    height: 100px;
}
.article{
  margin: 0 auto;
    position: relative;
    top: 25px;
    width: 55%;
  height: 280px;
    border: 4px solid;
  border-radius: 10px;
    background-color: #E5E0FF;
  padding: 10px;
  
}
.section{
  box-sizing: border-box;
    height: 908px;
    border: none;
}
.article  div>h1,h2,h3{
  margin-top: 8px;
    text-align: center;
    font-size: 30px;
    font-family: 'Arimo', sans-serif;
}

.article ul{
	float: left;
}

pre{
	font-family: 'Ubuntu Mono', monospace;
}

.article ul li{
	transition: 0.2s;
}

.article ul li:hover{
	background-color: lightgrey;
	border-style: dotted;
	border-radius: 7px;
	padding: 3px;
	transform: scale(1.1);
}

.datos , .codigo{
    display: inline-block;
    position: relative;
    left: 7%;
    font-size: 20px;
}
.codigo{
    left: 40%;
}
.documento{
  margin: 0 auto;
    width: 75%;
    height: auto;
    position: relative;
    top: 150px;
    font-size: 20px;
    background-color: #E5E0FF ;
    border: 10px ridge;
  border-radius: 70px;
    box-sizing: border-box;
  padding: 10px;
   }
.documento h2{
  position: relative;
  margin: 0 auto;
}
.documento ul{
   position: relative;
    top: 10%;
    padding-left: 5%;
  list-style-type: none;
}

footer{
    box-sizing: border-box;
     width: 100%;
     height: auto;
     background-color: #434242;
     overflow: hidden;
}
footer h2{
    font-size: 15px;
    text-align: end;
	margin: 1.5% 5% 1.5% 20%;
}

.datos h4{
  margin-top: 10px;
  word-spacing: 400px;
}

.documento ul li{
  margin: 8px 10% 0 auto;
}

li a{
  text-decoration:none;
  color:darkcyan;
  font-weight:bold;
}

li a:hover{
  text-decoration:underline;
}
